#validator-module .mytable,
.table {
  border: 3px solid gray;
  margin-bottom: 7px;
}
#validator-module .mytable th {
  background: gray;
  height: 35px;
}
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-file,
input.form-number,
input.form-color,
textarea.form-textarea,
#validator-module .my-table .form-inline .form-control {
  width: 50px;
  padding: 1px;
}
#validator-module .my-table .form-control[disabled] {
  background-color: #b5b5b5;
  color: #3900ff;
}
#validator-module .my-table .quart,
#validator-module .my-table .ytd {
  background: darkgray;
  padding: 3px;
}
#validator-module .my-table .foo .form-inline {
  padding: 1px; !important;
}
