.mytable,
.table {
  border: 3px solid gray;
  margin-bottom: 7px;
}
.mytable th {
  background: gray;
  height: 35px;
}
.mytable .form-inline .form-control {
  width: 50px;
  padding: 1px;
}
.mytable .form-control[disabled] {
  background-color: #b5b5b5;
  color: #3900ff;
}
.mytable .quartal {
  background: darkgray;
  padding: 3px;
}
.mytable .foo .form-inline{
  padding: 1px; !important;
}
#add_table{

}
